ul {
  list-style-type: none;
}
.center-block{
  float: none;
}
.big-text{
  font-weight: bold;
  font-size: 2em;
}
.second-text{
  font-size: 1.5em;
}
.card-underline{
  border-bottom: 2px solid black;
}
.main-part{
  padding: .75em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #eceeef;
}
.cab-parent{
  border-bottom: 2px solid black;
  font-size: 1.5em;
  font-weight: bold;
}
